<div>
    <div class="app-userTitle text-left app-padding">
        <span><i class="far fa-comment-alt" style="color: #f6820d;"></i> {{correo}}</span>
    </div>

    <div class="app-mensajes animated fadeIn" id="app-mensajes">


        <div *ngFor="let chat of chatprue" [ngClass]="{'text-left': _loginServices.user.name != chat.nombre}">
            <div *ngIf="chat.destinatario == correo || chat.nombre == correo">
                <span style="color:white;" class="badge badge-pill" [ngClass]="{'badge-primary': _loginServices.user.name == chat.nombre, 'badge-warning': _loginServices.user.name != chat.nombre}">{{chat.nombre}}</span>
                <p>{{chat.mensajes}}</p>
            </div>

        </div>

    </div>
    <div class="app-search2">
        <div class="p-2">
            <input type="text" name="mensaje" [(ngModel)]="mensaje" placeholder="Type a message" (keyup.enter)="enviarmensaje()" class="form-control app-input">
        </div>
    </div>
</div>