<div>
    <div class="app-userTitle text-left app-padding">
        <span><i class="far fa-comment-alt" style="color: #f6820d;"></i> {{user}}</span>
    </div>

    <div class="app-message animated fadeIn" id="app-message">


        <div *ngFor="let chat of chats" [ngClass]="{'text-left': _loginServices.user.name != chat.name}">
            <div *ngIf="chat.addressee == user || chat.name == user">
                <span style="color:white;" class="badge badge-pill" [ngClass]="{'badge-primary': _loginServices.user.name == chat.name, 'badge-warning': _loginServices.user.name != chat.name}">{{chat.name}}</span>
                <p>{{chat.message}}</p>
            </div>

        </div>

    </div>
    <div class="app-search2">
        <div class="p-2">
            <input type="text" name="message" [(ngModel)]="message" placeholder="Type a message" (keyup.enter)="sendMessage()" class="form-control app-input">
        </div>
    </div>
</div>