<div class="row">
    <div class="col-md-12 text-center animated fadeIn">
        <img class="mb-2 mt-5" src="assets/img/firebase.png" width="230" height="300">
        <h3 style="color: rgba(3, 155, 229, 1);">L<span style="color:#f6820d">o</span><span style="color: #fea40f">gI</span><span style="color:#fcca40">n</span></h3>
        <p style="color:  rgba(3, 155, 229, 0.5);"><em>Login with your favorite google account</em></p>
        <hr style="background-color: rgba(3, 155, 229, 0.8); width: 80%;">
        <button type="button" class="btn btn-primary m-1 pl-3 pr-3" (click)="login()"> Google </button>
    </div>
</div>